#include "go60.dtsi"

/ {
    chosen {
        zmk,matrix_transform = &default_transform;
        zmk,kscan = &kscan1;
    };

    kscan1: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        row-gpios = <&gpio0 5 &gpio0 6 &gpio0 7 &gpio0 8 &gpio0 9>;
        col-gpios = <&gpio1 6 &gpio1 7 &gpio1 8 &gpio1 9 &gpio1 10 &gpio1 11>;
        debounce-press-ms = <5>;
        debounce-release-ms = <5>;
    };
};
