#include "go60.dtsi"

 / {
    chosen {
        zmk,kscan = &kscan_right;
        zmk,matrix_transform = &default_transform;
    };

    kscan_right: kscan_right {
        status = "okay";

        row-gpios = <...>;
        col-gpios = <...>;

        debounce-press-ms = <5>;
        debounce-release-ms = <5>;
    };
};
