#include <dt-bindings/zmk/matrix_transform.h>
#include "go60_rgb_layers.dtsi"

/ {
    chosen {
        zmk,matrix_transform = &default_transform;
        zmk,underglow = &rgb_underglow;
        zmk,layer-underglow = &layer_ug;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
    };

    rgb_underglow: rgb_underglow {
        compatible = "zmk,underglow";
        status = "okay";

        chain-length = <60>;
        brightness = <80>;

        default-effect = <RGB_EFF_SOLID>;
    };
};

