#include "go60.dtsi"

/ {
    chosen {
        zmk,kscan = &go60_left_kscan;
    };

    go60_left_kscan: kscan_left {
        status = "okay";

        row-gpios = <...>;
        col-gpios = <...>;

        debounce-press-ms = <5>;
        debounce-release-ms = <5>;
    };
};
