#include "go60.dtsi"

/ {
    chosen {
        zmk,matrix_transform = &default_transform;
        zmk,kscan = &kscan1;
    };

    kscan1: kscan {
        compatible = "zmk,kscan-gpio-matrix";
    };
};
